
/*
CSS style sheet with Less syntax for the Project Harmony augmented reality user interface
*/

@baseiconsize: 80px;

body {
	margin: 0;
}

#background {
	img {
	}
}

#overlay {
	.fullscreen;
    position: fixed;
	top: 0;
	left: 0;

	.glass {
		.fullscreen;
		.opaque(0.1);
	}

	/* all screens are hidden by default */
	.screen {
		position: absolute;
		bottom: -100%;
	}
	/* display this screen instead of hiding it */
	.displaying {
		.fullscreen;
		position: absolute;
		bottom: 0;
		.transition_screen(-100%,0%);
	}

	.btn-circle {
		.circular(@baseiconsize);
		.opaque(0.8);
		overflow: hidden;
		display: inline-block;

		span {
			.fullscreen;
		}
		span:hover {
			background: gray;
		}
	}
	.btn-menu {
		position: absolute;
		bottom: 0;
		text-align: center;
		width: 100%;
		.btn-circle {
			margin: 3%;
		}
	}


}

.fullscreen() {
	height: 100%;
	width: 100%;
	display: block;
}

.circular(@radius) {
	width: (@radius);
	height: (@radius);
	-webkit-border-radius: @radius;
	-moz-border-radius: @radius;
	-ms-border-radius: @radius;
	-o-border-radius: @radius;
	border-radius: @radius;
}

.opaque(@ratio) {
	background: rgba(160,160,160,@ratio);
}

.opacity(@ratio) {
	/* IE 9, 8, 7, 6, 5 */
	@alpha: (@ratio * 100);
	filter: alpha(opacity=@alpha);
	/* Older than Firefox 0.9 */
	-moz-opacity: @ratio;
	/* Safari 1.x (pre WebKit!) */
	-khtml-opacity: @ratio;
	/* Firefox 0.9+, Safari 2?, Chrome any? Opera 9+, IE 9+ */
	opacity: @ratio;
}

.transition_screen(@start, @end) {
	-webkit-animation: transition 0.5s ease-in-out;
	-khtml-animation: transition 0.5s ease-in-out;
	-moz-animation: transition 0.5s ease-in-out;
	-ms-animation: transition 0.5s ease-in-out;
	-o-animation: transition 0.5s ease-in-out;

	@-webkit-keyframes transition {
		0%{ bottom: @start; }
		100% { bottom: @end; }
	}
	@-webkit-keyframes transition {
		0%{ bottom: @start; }
		100% { bottom: @end; }
	}
	@-webkit-keyframes transition {
		0%{ bottom: @start; }
		100% { bottom: @end; }
	}
	@-webkit-keyframes transition {
		0%{ bottom: @start; }
		100% { bottom: @end; }
	}
	@-webkit-keyframes transition {
		0%{ bottom: @start; }
		100% { bottom: @end; }
	}
}
