
/*
CSS style sheet with Less syntax for the Project Harmony augmented reality user interface
*/

@baseiconsize: 80px;

@color1_r: 172;
@color1_g: 227;
@color1_b: 255;

@import "font-awesome.less";

body {
	margin: 0;
}

#background {
	img {
	}
}

#overlay {
	.fullscreen;
    position: fixed;
	top: 0;
	left: 0;

	.glass {
		.fullscreen;
		.opaque(0.1);
	}

	/* all screens are hidden by default */
	.screen {
		.fullscreen;
		.transition_screen;
		position: absolute;
		bottom: -100%;
	}
	/* display this screen instead of hiding it */
	.displaying {
		.fullscreen;
		bottom: 0%;
	}

	.btn-circle {
		.circular(@baseiconsize);
		.opaque(0.3);
		overflow: hidden;
		display: inline-block;

		span {
			.fullscreen;
			padding-top: 10px;
			font-size: 40pt;
		}
		span:hover {
			.opaque(0.6);
		}
	}
	.btn-menu {
		position: absolute;
		bottom: 0;
		width: 100%;
		text-align: center;
		.btn-circle {
			margin: 3%;
		}
		.btn-circle:first-child {
			float: left;
		}
		.btn-circle:last-child {
			margin-right: @baseiconsize;
		}
	}


}

.fullscreen() {
	height: 100%;
	width: 100%;
	display: block;
	margin: 0;
}

.circular(@radius) {
	width: (@radius);
	height: (@radius);
	-webkit-border-radius: @radius;
	-moz-border-radius: @radius;
	-ms-border-radius: @radius;
	-o-border-radius: @radius;
	border-radius: @radius;
}

.opaque(@ratio) {
	background: rgba(@color1_r,@color1_g,@color1_b,@ratio);
}

.opacity(@ratio) {
	/* IE 9, 8, 7, 6, 5 */
	@alpha: (@ratio * 100);
	filter: alpha(opacity=@alpha);
	/* Older than Firefox 0.9 */
	-moz-opacity: @ratio;
	/* Safari 1.x (pre WebKit!) */
	-khtml-opacity: @ratio;
	/* Firefox 0.9+, Safari 2?, Chrome any? Opera 9+, IE 9+ */
	opacity: @ratio;
}

.transition_screen() {
	-webkit-transition: all 0.5s ease-in-out;
	-khtml-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
}
